[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
setuptools-scm = "*"
wheel = "*"
pdbpp = "*"

[packages]
bs4 = "*"
lxml = "*"
requests = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
